html {
    margin: 0;
    padding: 0;
    /* overflow-y: hidden; */
    height: 100%;
    width: 100%;
    background-color: white;

}

body {
    margin: 0;
    position: relative;
    background: linear-gradient(0deg, #ce002f, #ce002f52);
    height: 1920px;
    width: 1080px;
}

main {
    width: 1000px;
    height: 1800px;
    position: absolute;
    margin: 50px auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#Stundenplan {
    height: 700px;
    width: 100%;
    background: rgba(255, 255, 255, 0.673);
    border-radius: 60px;
    display: flex;
}

.spalte {
    height: 100%;
    width: 25%;
    border-radius: 60px;
    position: relative;
}
