body {
    position: absolute;
    width: 1080px;
    height: 1920px;
    left: 0px;
    top: 0px;

    background-image: url("./Gradient.png");
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 120px;
    color: #f0e6d5;
}

#Temperature {
    position: absolute;
    width: 267px;
    height: 178px;
    left: 0px;
    top: 89px;
    margin: 0;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 127px;
    line-height: 149px;
    display: flex;
    text-align: center;
    justify-content: center;
    
    color: #F9F5E5;
}

#icon {
    position: absolute;
    width: 143px;
    height: 143px;
    left: 234px;
    top: 13px;
    
}

div {
    background: radial-gradient(208.58% 342.24% at 9.5% -16.31%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.0756) 56.96%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.11);
    box-shadow: 13px 14px 56px rgba(0, 0, 0, 0.1);
    border-radius: 28px;
}

.Wetter {
    position: absolute;
    width: 400px;
    height: 266.67px;
    left: 93px;
    top: 141px;
}

.Navigation {
    position: absolute;
    width: 398px;
    height: 394px;
    left: 590px;
    top: 414px;  
}

h2 {
    position: absolute;
    width: 398px;
    height: 394px;
    margin: 0;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 78px;
    line-height: 91px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #F9F5E5;
}

.Uhrzeit {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 400px;
    height: 178px;
    left: 588px;
    top: 141px;
}

.Stundenplan {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px 0px;
    
    position: absolute;
    width: 400px;
    height: 800px;
    left: 93px;
    top: 503px;    
}

.News {
    position: absolute;
    width: 400px;
    height: 400px;
    left: 588px;
    top: 903px;
}

h3 {
    position: absolute;
    width: 344px;
    height: 113px;
    left: 32px;
    top: 41px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    
    /* Text Colour */
    
    color: #F9F5E5;
}

.Poster {
    position: absolute;
    width: 895px;
    height: 382px;
    left: 93px;
    top: 1398px;
}