body {
    position: absolute;
    width: 1080px;
    height: 1920px;
    left: 0px;
    top: 0px;

    background-image: url("./Gradient.png");
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 120px;
    color: #f0e6d5;
}

#Temperature {
    position: absolute;
    width: 328px;
    height: 0px;
    margin: 0;
    font-size: 120px;
}

#icon {
    position: absolute;
    width: 160px;
    height: 160px;
    
}

div {
    background: rgba(255, 255, 255, 0.11);
    box-shadow: 13px 14px 56px rgba(0, 0, 0, 0.1);
    border-radius: 28px;
}

.Wetter {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 400px;
    height: 178px;
    left: 588px;
    top: 141px;
}

.Navigation {
    position: absolute;
    width: 398px;
    height: 394px;
    left: 590px;
    top: 414px;    
}

.Uhrzeit {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 400px;
    height: 266.67px;
    left: 93px;
    top: 141px;
}

.Stundenplan {
    position: absolute;
    width: 400px;
    height: 800px;
    left: 93px;
    top: 503px;    
}

.News {
    position: absolute;
    width: 400px;
    height: 400px;
    left: 588px;
    top: 903px;
}

.Poster {
    position: absolute;
    width: 895px;
    height: 382px;
    left: 93px;
    top: 1398px;
}